# Ignore APK build artifacts
apk
# Node modules
node_modules/

# Ignore generated Android resource images
android/app/src/main/res/drawable-hdpi/*
android/app/src/main/res/drawable-mdpi/*
android/app/src/main/res/drawable-xhdpi/*
android/app/src/main/res/drawable-xxhdpi/*
android/app/src/main/res/drawable-xxxhdpi/*

# Prevent .webp launcher icons from being added to the repo
android/app/src/main/res/mipmap-*/ic_launcher*.webp


# Logs
logs.txt
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
*.apk
*.aab
*.tar.gz

# Expo
.expo/
.expo-shared/

# Metro
.cache/

# macOS
.DS_Store

# Android
android/app/build/
android/.gradle/
android/local.properties
android/.idea/

# iOS
ios/

# Environment
.env
.env.*

# VSCode
.vscode/

# Misc
*.keystore
*.jks

# Backup
*-backup/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# Others
*.swp
*.swo

# Ignore backup config
app.json.bak

# Ignore SmartCities workspace
SmartCities.code-workspace
